@charset "UTF-8";

* {
    box-sizing: ;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: rgb(0, 0, 0);

}

div.container {
    border: 2px solid rgb(0, 0, 0);
    display: grid;

    grid-template-rows: 100px 50px 750px 50px;
    grid-template-columns: 300px 1fr 300px;
    gap: 5px;
}

.box {
    border: 1px solid rgb(255, 255, 255);
}

#topo {
    background-color: red;

    grid-area: 1 / 1 / span 1 / span 4;

    display: flex;
    justify-content: center;
    align-items: center;
}
#menu {
    background-color: rgb(0, 4, 255);

    grid-area: 2 / 1 / span 1 / span 3;

    display: flex;
    justify-content: center;
    align-items: center;
}
#primario {
    background-color: rgb(0, 225, 255);

    grid-area: 3 / 1 / span 1 / span 2;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
#secundario {
    background-color: rgb(255, 0, 234);

    grid-area: 3 / 3 / span 1 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
#rodape {
    background-color: rgb(229, 255, 0);

    grid-area: 4 / 1 / span 1 / span 3;

    display: flex;
    justify-content: center;
    align-items: center;
}