@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body {
  min-height: 100vh;
  background-color: rgba(228, 228, 228, 0.548);
  font-family: fantasy;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  color: white;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vw;
}

header > p {
  color: white;
  padding-bottom: 50px;
}

footer > p {
  color: white;
}

footer {
  text-align: center;
  background-color: black;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h3 > a {
  color: rgb(255, 255, 255);
}
